<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sharding.table.mapper.ShardingTableMapper">

<!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.sharding.table.entity.ShardingTable">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="insert_time" property="insertTime"/>
    </resultMap>

<!--auto generated Code-->
    <sql id="all_column">
        id,
        name,
        age,
        insert_time
    </sql>

<!--auto generated Code-->
    <insert id="insert">
        INSERT INTO sharding_table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> id, </if>
            <if test="pojo.name != null"> name, </if>
            <if test="pojo.age != null"> age, </if>
            <if test="pojo.insertTime != null"> insert_time, </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> #{pojo.id}, </if>
            <if test="pojo.name != null"> #{pojo.name}, </if>
            <if test="pojo.age != null"> #{pojo.age}, </if>
            <if test="pojo.insertTime != null"> #{insertTime}, </if>
        </trim>
    </insert>

<!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO sharding_table(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.name},
            #{pojo.age},
            #{insertTime}
            )
        </foreach>
    </insert>

<!--auto generated Code-->
    <update id="update">
        UPDATE sharding_table
        <set>
            <if test="pojo.id != null"> id = #{pojo.id}, </if>
            <if test="pojo.name != null"> name = #{pojo.name}, </if>
            <if test="pojo.age != null"> age = #{pojo.age}, </if>
            <if test="pojo.insertTime != null"> insert_time = #{insertTime} </if>
        </set>
         WHERE id = #{pojo.id}
    </update>

<!--auto generated Code-->
    <select id="select" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM sharding_table
        <where>
            <if test="pojo.id != null"> AND id = #{pojo.id} </if>
            <if test="pojo.name != null"> AND name = #{pojo.name} </if>
            <if test="pojo.age != null"> AND age = #{pojo.age} </if>
            <if test="pojo.insertTime != null"> AND insert_time = #{pojo.insertTime} </if>
        </where>
    </select>

</mapper>
