<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shardingjdbc.mapper.OrderMapper">

    <resultMap id="baseResultMap" type="com.shardingjdbc.entity.Order">
        <result column="order_id" property="orderId"/>
        <result column="user_id" property="userId"/>
        <result column="address_id" property="addressId"/>
        <result column="status" property="status"/>
    </resultMap>

    <insert id="insertOrder" parameterType="com.shardingjdbc.entity.Order">
        INSERT INTO t_order (
         user_id,
         address_id,
         status
        )
        VALUES (
        #{userId},
        #{addressId},
        #{status}
        )
    </insert>

    <select id="list" resultMap="baseResultMap">
        SELECT o.* FROM t_order o
    </select>

</mapper>
