<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shardingjdbc.mapper.OrderItemMapper">

    <resultMap id="baseResultMap" type="com.shardingjdbc.entity.OrderItem">
        <result column="order_item_id" property="orderItemId"/>
        <result column="order_id" property="orderId"/>
        <result column="user_id" property="userId"/>
        <result column="status" property="status"/>
    </resultMap>

    <insert id="addOrderItem">
        INSERT INTO t_order_item (
            order_item_id,
            order_id,
            user_id,
            status
        )
        VALUES (
        #{orderItemId},
        #{orderId},
        #{userId},
        #{status}
        )
    </insert>

    <select id="list" resultMap="baseResultMap">
        SELECT * FROM t_order_item
    </select>

</mapper>
